[Desktop Entry]
Name=pascalina
Comment=La calculadora adivina
Exec=pascalina
Icon=pascalina
Encoding=UTF-8
Categories=Application;
Type=Application
Name[es]=Pascalina
