[Desktop Entry]
Name=Pascalina
Comment=La calculadora adivina
Exec=Pascalina
Icon=pascalina
Encoding=UTF-8
Categories=Application;
Type=Application
Name[es]=Pascalina
